/* Typography */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    font-family: 'Dosis', sans-serif;
    
}
/*HEADER*/

header {
    background-color: #114c50;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    justify-content: space-evenly;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.2rem;
}

header img {border-radius: 10px;}

header button {
    background-color: #333333;
    color: #EDAE1D;
    padding: 0.5rem;
    border-radius: 25%;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 255, .2);
    width: 3rem;
    height: 3rem;
}

header button:hover {
    box-shadow: none;
    cursor: pointer;
}

.profile-picture {
	border-radius: 10px;
	justify-content: left;
    box-shadow: 3px 5px 32px 8px rgba(0,0,0,0.36);
    width: 100px; /* Set the desired width */
    height: auto; /* Let the height adjust to maintain aspect ratio */
}


h1 {
	font-size: 2rem;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: #eee;
	color: #000;
	position: absolute;
	top: 1rem;
	left: 1rem;
}

#menu::before {
	content: "☰";
}

nav {display: none}

nav ol{
    flex-direction: column;
    text-align: center;    
    background-color: #333333;
}


nav li { 
    list-style: none;
    padding: 0.2rem;
    
}

nav  li a {    
    text-decoration: none;
    color: #fff;
    padding: 0.2rem;
}

nav li:hover {
    background-color: #BC8810;
    color: #FFF8EB;
    text-decoration: underline;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open {display: block;}

#menu.open {
	width: 3rem;
}

#menu.open::before {
	content: "✖";
    font-size: 1.5rem;
}


.active::before {
	content: "📍 ";
}

#hero{
	position:relative;
    width: 100%;
    height: auto;
    /* max-width: 1606px; Adjust the maximum width based on your design */
    margin: 0 auto; /* Center the hero div */
}
img{
    width: 100%;
    height: auto;
}
#temple-name {
    /* position:absolute; */
    background-color: #333333;
    color: #fff;
    font-size: 2rem;
    width: fit-content;
    border: 2px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
}


.main {
    padding: 1rem;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 1.5rem;
}

/* .dark-mode {
	background-color: #000;
	color: #fff;
	border-color: #eee; 
} */

.footer {
    background-color: #114c50;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .9rem;
}

.footer span {
    text-decoration: underline;
}

.last-update {
    color: gold;
}

/*Weather Data*/
.information {
    text-align: center;
}

#weather-container{ 
text-align: center;}

#weather-container #current-temp {
    font-weight: bold;
}

#weather-container #weather-icon {
    width: 20%;
    background-color: #BC8810;
    border-radius: 35px;
    margin-top: 1rem;
}

#weather-container figcaption {
    font-size: 1.5rem;
    font-weight: bold;
}
