@media (min-width: 70em) {
    body,
    header,
    main,
    footer {
      width: 730px;
    }
  
    header {
      grid-template-rows: repeat(2, 90px);
    }

    #menu {
      display: none; /* hide hamburger button */
    }
  
    .navigation {
      flex-direction: row;
    }
  
    .navigation li {
      display: block;
      flex: 1 1 100%;
    }
  }
