* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  header,
  main,
  footer {
    width: 100%;
    margin: 0 auto;
  }
  
  body,
  header,
  main,
  footer,
  .trebuchet {
    font-family: "Trebuchet MS";
  }
  
  body {
    background-color: slategrey;
  }
  
  body,
  .colors {
    justify-content: center;
  }
  
  header {
    display: grid;
  }
  
  header,
  nav,
  main,
  #footer,
  #date {
    text-align: center;
  }
  
  header,
  footer,
  .head,
  .foot {
    background-color: #0a2032;
  }
  
  header h1,
  header p,
  #footer,
  #date,
  .colors {
    color: #fff;
  }
  
  header h1,
  header p {
    padding: 10px 0 5px 0;
  }
  
  header picture {
    grid-row: 1;
    padding: 25px 0 10px;
  }
  
  nav,
  .nav {
    background-color: #00a8f3;
  }
  
  nav a,
  .nav,
  .active {
    color: #000;
  }
  
  nav,
  main,
  main h2,
  p,
  a,
  main picture,
  main ul li,
  .colors {
    padding: 10px;
  }
  
  main {
    padding-bottom: 40px;
  }
  
  main,
  .active {
    background-color: #fff;
  }
  
  ul li {
    list-style-type: none;
  }
  
  a {
    display: block;
    text-decoration: none;
  }
  
  footer {
    height: 5rem;
  }
  
  h1,
  h2,
  h3,
  nav,
  .colors {
    font-family: "Inter", sans-serif;
  }
  
  h1,
  .head {
    font-size: 30px;
  }
  
  h2 {
    font-size: 25px;
  }
  
  header p,
  nav,
  h3,
  .nav,
  .foot {
    font-size: 20px;
  }
  
  p {
    font-size: 15px;
  }
  
  /* id selector */
  #footer,
  #date {
    padding: 12px 0 0;
  }
  
  /* class selector */
  .colors {
    display: flex;
    min-height: 80px;
  }
  
  .colors li {
    display: block;
    border: 1px solid #000;
  }
  
  .nav,
  .foot {
    padding: 16px;
  }